<nav role="navigation" class="navbar navbar-light bg-white">
    <span class="navbar-brand mb-0 h1">🍰 Cakelist</span>
    <span class="navbar-text d-none d-sm-block">A world of cake</span>
    <div>
        <a href="#">Log af  👋</a>
        <img height="40" width="40" class="rounded-circle" id="user-picture" src="https://via.placeholder.com/80" />
    </div>
</nav>